*{
    padding:0;
    margin:0;
    color: #d12e2e;;
    text-align: center;


}
html, body{
    background-color: white;
}

.main-container{
    border: 4px solid rgb(250,122,0);
    border-radius: 10px;
    margin: 2rem; 
}