body {
    margin: 30px 0;
    font: 22px sans-serif;
    background: #e3e1cc;
    color: #908e6b;
}
nav{
    background-color: #fffff6;
}


nav, section, footer, article, aside{
    border: 1px solid #bdc3a4;
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem;

}

article, aside{
    width: 40%;
    display: list-item;
    height: 165px;
    background-color: #f2f4ea;
}