<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>Registro</servlet-class>
        <init-param>
            <param-name>Name</param-name>
            <param-value>Value</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Consultar</servlet-name>
        <servlet-class>Consultar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Eliminar</servlet-name>
        <servlet-class>Eliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registro1</servlet-name>
        <servlet-class>Registro1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Actualizar</servlet-name>
        <servlet-class>Actualizar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarUsuario</servlet-name>
        <servlet-class>editarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroH</servlet-name>
        <servlet-class>RegistroH</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroP</servlet-name>
        <servlet-class>RegistroP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsulProm</servlet-name>
        <servlet-class>ConsulProm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ElimProm</servlet-name>
        <servlet-class>ElimProm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/Registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Consultar</servlet-name>
        <url-pattern>/Consultar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Eliminar</servlet-name>
        <url-pattern>/Eliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registro1</servlet-name>
        <url-pattern>/Registro1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Actualizar</servlet-name>
        <url-pattern>/Actualizar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarUsuario</servlet-name>
        <url-pattern>/editarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroH</servlet-name>
        <url-pattern>/RegistroH</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroP</servlet-name>
        <url-pattern>/RegistroP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsulProm</servlet-name>
        <url-pattern>/ConsulProm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ElimProm</servlet-name>
        <url-pattern>/ElimProm</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
