<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GuardarEmpleado</servlet-name>
        <servlet-class>servlets.GuardarEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarCliente</servlet-name>
        <servlet-class>servlets.GuardarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificarUsuario</servlet-name>
        <servlet-class>servlets.VerificarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarHelado</servlet-name>
        <servlet-class>servlets.GuardarHelado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarHelado</servlet-name>
        <servlet-class>servlets.actualizarHelado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarHelado</servlet-name>
        <servlet-class>servlets.borrarHelado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarUsuario</servlet-name>
        <servlet-class>servlets.actualizarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarUsuario</servlet-name>
        <servlet-class>servlets.borrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarMiPerfil</servlet-name>
        <servlet-class>servlets.actualizarMiPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Close</servlet-name>
        <servlet-class>servlets.Close</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GuardarEmpleado</servlet-name>
        <url-pattern>/GuardarEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarCliente</servlet-name>
        <url-pattern>/GuardarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificarUsuario</servlet-name>
        <url-pattern>/VerificarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarHelado</servlet-name>
        <url-pattern>/GuardarHelado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarHelado</servlet-name>
        <url-pattern>/actualizarHelado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrarHelado</servlet-name>
        <url-pattern>/borrarHelado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarUsuario</servlet-name>
        <url-pattern>/actualizarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrarUsuario</servlet-name>
        <url-pattern>/borrarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarMiPerfil</servlet-name>
        <url-pattern>/actualizarMiPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Close</servlet-name>
        <url-pattern>/Close</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
